*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}


/* LAYOUT */
.top-section{
    height: calc(100vh - 100px);
    background-color: #151923;
    display: flex;
}
.sidebar{
    width: 70px;
    background-color: black;
    z-index: 2;
    position: relative;
}
.main-content{
    width: calc(100vw - 70px);
    background-color: #151923;
}
header{
    position: fixed;
    left: 70px;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100vw - 70px);
    text-align: right;
    padding: 50px 10px;
}
.bottom-section{
    background-color: #282828;
    height: 100px;
}
/* END OF LAYOUT */


/* LABELS */
.label{
    padding: 20px 50px;
    border: 2px solid white;
    border-radius: 30px;
    font-weight: 600;
}
.label:hover{
    padding: 22px 52px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
} 
/* END OF LABELS */


/* TEXT-STYLING */
.white-text{
    color: white;
}
.grey-text{
    color: #7d7c7c;
}
.lightgrey-text{
    color: #d2d2d2;
}
.none{
    text-decoration: none;
}
.font-size-10{
    font-size: 10px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-40{
    font-size: 40px;
}
/* END OF TEXT STYLING */


/* IMAGES */
.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
    height: calc(50% - 25px);
}
.profile-img{
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 30px;
}
.logo{
    width: 100%;
}
.plus{
    padding: 8px;
}
/* END OF IMAGES */

/* STYLING */
.down{
    display: flex;
    justify-content: end;
}
.arrow-down{
    border: 1px solid white;
    border-radius: 20px;
    padding: 4px 5px;
}
.display-none{
    display: none;
}
ul{
    list-style-type: none;
}
hr{
    width: 90%;
    border: 1px solid #7d7c7c;
}
.bg-grey{
    background-color: #a3a2a2;
}
span:hover, i:hover{
    color: white;
}
/* END OF STYLING */


/* MEDIA QUERY */
@media screen and (min-width: 576px){
    /* LAYOUT */
    .sidebar{
        width: 350px;
    }
    /* END OF LAYOUT */


    /* IMAGES */
    .logo{
        width: 75%;
        display: block;
    }
    .icon-container{
        align-items: start;
        margin-left: 15px;
    }
    /* END OF IMAGES */


    /* STYLING */
    .display-none{
        display: inline;
    }
    .display-none-query{
        display: none;
    }
    .middle{
        vertical-align: middle;
    }
    .mg-left-10{
        margin-left: 10px;
    }
    /* END OF STYLING */
}
@media screen and (min-width: 768px){
    .sidebar{
        width: 250px;
    }
    .main-content{
        width: calc(100vw - 250px);
    }
}
/* END OF MEDIA QUERY */