*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    overflow-y: hidden;
}


/* LAYOUT */
.top-section{
    height: calc(100vh - 100px);
    background-color: #151923;
    display: flex;
}
.sidebar{
    width: 70px;
    background-color: black;
    z-index: 1;
}
.main-content{
    width: calc(100vw - 70px);
    background-color: #151923;
    overflow-y:auto;
    padding-bottom: 50px;
}
.content{
    position: relative;
}
header{
    position: fixed;
    left: 70px;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100vw - 70px);
    text-align: right;
    padding: 50px 10px;
}
.bottom-section{
    background-color: #282828;
    z-index: 2;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-50{
    width: calc(50%)
}
/* END OF LAYOUT */


/* LABELS */
.label{
    padding: 15px 45px;
    border: 2px solid white;
    border-radius: 30px;
    font-weight: 600;
}
.label:hover{
    padding: 22px 52px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
} 
/* END OF LABELS */


/* TEXT-STYLING */
.white-text{
    color: white;
}
.grey-text{
    color: #7d7c7c;
}
.lightgrey-text{
    color: #d2d2d2;
}
.none{
    text-decoration: none;
}
.font-size-10{
    font-size: 10px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-40{
    font-size: 40px;
}
.row-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.text-center{
    text-align: center;
}
/* END OF TEXT STYLING */


/* IMAGES */
.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
    height: calc(100% - 25px);
    background-color: black;
    width: 93%;
}
.profile-img{
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 30px;
}
.logo{
    width: 100%;
}
.plus{
    padding: 8px;
}
.image{
    width: 100%;
    margin-right: 20px;
    position: relative;
}
.round-image{
    width: 100%;
    margin-right: 20px;
    border-radius: 100%;
}
.display-flex{
    display: flex;
    justify-content: center;
}
.white-img{
    width: 70%;
}
/* END OF IMAGES */

/* STYLING */
.down{
    display: flex;
    justify-content: end;
}
.arrow-down{
    border: 1px solid white;
    border-radius: 20px;
    padding: 4px 5px;
}
.display-none{
    display: none;
}
ul{
    list-style-type: none;
}
hr{
    width: 90%;
    border: 1px solid #7d7c7c;
}
.bg-grey{
    background-color: #a3a2a2;
}
span:hover, i:hover{
    color: white;
}
.mg-top-150{
    margin-top: 150px;
}
.mg-left-5{
    margin-left: 5px;
}
.mg-right-5{
    margin-right: 5px;
}
.mg-left-20{
    margin-left: 20px;
}
.mg-right-20{
    margin-right: 20px;
}
.mg-top-10{
    margin-top: 10px;
}
.mg-top-40{
    margin-top: 40px;
}
.mg-bot-40{
    margin-bottom: 40px;
}
.mg-20{
    margin: 0px 20px;
}
.border-green{
    border: 1.5px solid #adfe2e;
    width: 35%;
    margin: 3px auto;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px;
    box-sizing: border-box;
    z-index: 3;
    
}
.footer .track-info {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.footer .track-info img {
    width: 56px;
    height: 56px;
    margin-right: 10px;
}
.footer .track-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer .track-details span {
    font-size: 14px;
}
.footer .track-details .track-title {
    font-weight: bold;
}
.footer .center-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}
.footer .controls {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.footer .controls i {
    color: #ffffff;
    margin: 0 15px;
    cursor: pointer;
}
.footer .progress-bar {
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 5px;
}
.footer .progress-bar span {
    font-size: 12px;
    width: 35px;
    text-align: center;
}
.footer .progress {
    flex: 1;
    height: 4px;
    background: #535353;
    border-radius: 2px;
    margin: 0 5px;
    position: relative;
}
.footer .progress-filled {
    width: 30%;
    height: 100%;
    background: white;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}
.footer .progress-filled:hover{
    background: #adfe2e;
    .circle{
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        top: -3px;
        left: 100%;
        display: block;
    }
}
.footer .volume-filled:hover{
    background: #adfe2e;
    .circle{
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        top: -3px;
        left: 20px;
        display: block;
    }
}
.extra-controls {
    display: flex;
    align-items: center;
}
.extra-controls i {
    color: #b3b3b3;
    margin: 0 10px;
    cursor: pointer;
}
.extra-controls i:hover {
    color: #ffffff;
}
.volume-bar {
    display: flex;
    align-items: center;
}
.volume {
    width: 6vw;
    height: 4px;
    background: #535353;
    border-radius: 2px;
    margin-left: 10px;
    position: relative;
}
.volume-filled {
    width: 30%; 
    height: 100%;
    background: white;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}
.circle-play:hover{
    font-size: 33px;
}
.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.hover-image {
    width: 100%;
}
.hover-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 180px;
}
.hover-button i{
    font-size: 40px;
}
.image-container:hover .hover-image {
    transform: scale(1.1);
}

.image-container:hover .hover-button {
    opacity: 1;
}
.black-bg{
    background-color: black;
}
.center{
    overflow-y: auto;
}

/* END OF STYLING */


/* MEDIA QUERY */
@media screen and (min-width: 576px){
    /* LAYOUT */
    .sidebar{
        width: 350px;
    }
    /* END OF LAYOUT */


    /* IMAGES */
    .logo{
        width: 75%;
        display: block;
    }
    .icon-container{
        align-items: start;
        margin-left: 15px;
    }
    /* END OF IMAGES */


    /* STYLING */
    .display-none{
        display: inline;
    }
    .display-none-query{
        display: none;
    }
    .middle{
        vertical-align: middle;
    }
    .mg-left-10{
        margin-left: 10px;
    }
    .mg-left-13{
        margin-left: 13px;
    }
    .border-left-green{
        border-left: 3px solid #adfe2e;
        padding-left: 10px;
    }
    /* END OF STYLING */
}
@media screen and (min-width: 768px){
    /* LAYOUT */
    .sidebar{
        width: 350px;
    }
    .main-content{
        width: calc(100vw - 250px);
    }
    .col-25-md{
        width: 25%;
    }
    /* END OF LAYOUT */
    
    
    /* STYLING */
    .mg-right-10{
        margin-right: 10px;
    }
    .mg-left-10-md{
        margin-left: 10px;
    }
    /* END OF STYLING */
}
@media screen and (min-width: 1200px){
    .col-16-lg{
        width: calc(100% / 6);
    }
}
/* END OF MEDIA QUERY */